.buttons-item {
    margin: 1px;
}

#circle-preview-title {
    margin: 15px;
    display: block;
}

#buttons-config-container{
padding: 15px;
margin-left: 30px;
}

.configs-container{
    border: 1px solid lightgrey;
    float: top;
    padding: 25px;
    margin: 15px;
    padding-top: 15px;
}

.option{
    padding: 5px;
    cursor: pointer;
}

.option:hover{
    background-color: lightgrey;
}

#circle-preview {
    margin-right: 35px;

}

.header {
    font-size: 21px;
    color: grey;
}

.sub-header {
    font-size: 15px;
    color: grey;
    opacity: 0.75;
    /* text-align: center; */
}

hr {
    opacity: 0.5;
}