body {
    margin-left: 21.5%;
}

.buttons-item {
    margin: 1px;
}

#circle-preview-title {
    margin: 15px;
    display: block;
}

#clickSegmentToHighlight{
    margin-left: 15px;
    margin-bottom: 15px;
    display: block;
}

#buttons-config-container{
    padding-top: 15px;
}

.configs-container{
    /* border: 1px solid lightgrey; */
    /* text-align: center; */

    float: top;
    padding: 0px 25px;
    margin: 15px 0px;
}

.option{
    padding: 5px;
    cursor: pointer;
}

label{
    cursor: pointer;
}

.option:hover{
    background-color: lightgrey;
}

#circle-preview {
    margin-right: 60px;

}

.header {
    font-size: 21px;
    color: grey;
    
}

.sub-header {
    font-size: 15px;
    color: grey;
    opacity: 0.75;
    /* text-align: center; */
}

hr {
    opacity: 0.5;
}