/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 7px rgba(0,0,0,0.25);
    vertical-align: middle;
}

#navbar-title {
    float: left;
    display: block;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #3B3E43;
}

#navbar-settings-label {
    float: left;
    display: block;
    font-size: 13px;
}
  
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

button {
    cursor: pointer;
}

#typeOfMenuDropdown {
    background: white;
    float: left;
    display: block;
    /* padding: 6px; */
    font-size: 15px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 15px;
}

#typeOfMenuDropdownArrow{
    float: left;  position: relative; left: -30px; opacity: 0.5; top: 25px; height: 30px; width: 30px; font-size: 21px; color: black; transform: rotate(90deg);
    pointer-events: none;
}

#content {
    padding-top: 50px;
}

.content-transition {
    transition: margin-left 250ms ease;
}

.buttons-item {
    margin: 1px;
}

#circle-preview-title {
    margin: 15px;
    display: block;
}

#clickSegmentToHighlight{
    margin-left: 15px;
    margin-bottom: 15px;
    display: block;
}

.configs-container{
    float: top;
    padding: 0px 0px;
    margin-top: 15px;
    transition: opacity 300ms ease-in-out;
}

.option{
    padding: 5px;
    cursor: pointer;
}

.visible-option {
    opacity: 1.0;
  }
  
.hidden-option {
    display: none;
    pointer-events: none;
}

.disabled-option {
    opacity: 0.5;
    transition: opacity 150ms ease-in-out;
    pointer-events: none;
}
  
.enabled-option {
    opacity: 1.0;
    transition: opacity 150ms ease-in-out;
}

.option:hover{
    background-color: lightgrey;
    transition: background-color 50ms ease-in-out;
    border-radius: 4px;
}

label{
    cursor: pointer;
}

#circle-preview {
    margin-right: 90px; cursor: pointer;
}

.header {
    font-size: 21px;
    color: grey;
    /* text-decoration: underline; */
    font-weight: 550;

}

.sub-header {
    font-size: 15px;
    color: grey;
    /* font-style: italic; */
    opacity: 0.8;
}

hr {
    opacity: 0.5;
}


input {
    cursor: pointer;
}

#addLevelButton {
    height: 50px;
    line-height: 50px;  
    width: 50px;  
    font-size: 4em;
    /* font-weight: bold; */
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    float: left;  
    margin-top: 30px;
}

#addLevelButton:hover{
    background-color: rgba(0,0,0,0.4);
}

#addLevelButton:after {
    content: "__MSG_addLevel__";
    display: inline-block;
    color: rgba(0,0,0,0.2);
    opacity: 0.0;
    margin-top: 5px;
    font-size: 0.35em;
    text-align: center;
    transition: opacity 300ms ease-in-out;
    z-index: 10;
    line-height: 1.25;
    /* transform: translate(-15%, 0) */
}

#addLevelButton:hover:after{
    opacity: 1.0;
}

#circle-preview-container {
    /* align-items: center;text-align: center;  */
    height: 100%;
    margin-right: 35px;
}

#appearance-config {
    padding-bottom: 5px;
}

#general-settings-container {
    background: #e8e8e8; padding: 25px; border-radius: 15px; float: left;
    margin-bottom: 35px;
}

#buttons-config-container{
    padding-top: 15px;
    float: left;
    margin-bottom: 15px;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted grey; */
}

/* .tooltip::after{ */
.tooltipHint{
      /* content: '?'; */
      background-color: lightgray;
      border-radius: 50%;
      line-height: 1.25;
      vertical-align: middle;
      height: 15px;
      width: 15px;
      min-width: 15px;
      display: inline-block;
      text-align: center;
      position: absolute;
      left: -22.5px;
      right: 0px;
      top: 0px;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 3px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1000 !important;
    bottom: 155%;
    left: 50%;
    margin-left: -80px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 250ms, visibility 250ms; 
}

/* Tooltip arrow */
.tooltip .tooltiptext::after  {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
/* .tooltip:hover .tooltiptext { */ 
.tooltipHint:hover ~ .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition-delay: 150ms;
}

.buttons-item {
    padding:10px; cursor: pointer;
}

.reset-segment-color-button {
    display: inline-block; opacity: 0.5; font-size: 16px; margin-left: 15px; vertical-align: middle; transition: opacity 150ms ease-out;
}

/* Ghost images for website favicons */
[id^='cmg-ghost-favicon'] {
    position: fixed; 
    top: 0px; left: 0px; 
    z-index: 888;
    pointer-events: none !important;
    opacity: 0;
}



@media (max-width: 800px) {
    #updateToApplyLabel, #navbar-title, #navbar-settings-label { display: none !important; }
    #content { margin-left: 0px !important; }
}

@media (max-width: 1200px) {
   #general-settings-container { margin-left: 0px !important; }
}

@-moz-document url-prefix() {
  hr { opacity: 0.15; }
  .tooltip::after{ line-height: 0.9; }
  input[type='color'] { padding: 3px !important;}
}

@media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) {
    .tooltip::after{ font-size: 12px; }
    .buttons-item { padding: 5px 10px; }
    .delete-level-button { color: grey; transition: color 150ms ease }
    .delete-level-button:hover { color: red; }
    #addLevelButton { font-size: 42px; }
    .reset-segment-color-button { vertical-align: top; }
}}