html {
  scroll-behavior: smooth !important;
}

.cmg-circle-canvas{
  /* transition: var(--cmg-circle-transition); */
  visibility: visible;
  opacity: 0.0;
  position: fixed;
  z-index: 9999999 !important;
  background-color: transparent;
  color: transparent;
  transform: scale(0.0);
  pointer-events: none;
  transition: transform var(--cmg-anim-duration) ease-out, opacity var(--cmg-anim-duration) ease-out;

}

.cmg-circle-visible{
  opacity: var(--cmg-circle-opacity);
  transform: scale(1.0);
  pointer-events: auto;
}

.cmg-rocker-icon{
  all: revert;
  cursor: pointer;
  border: none !important;
  box-shadow: none !important;
  z-index: 10000 !important;
  padding:  0px !important;
  vertical-align: top !important;
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 0px !important;
  text-transform: none !important;
  outline: none !important;
  text-align: center !important;
  /* font-size: 12.5px !important; */
  line-height: 1.0 !important;
  left: 0px; right: 0px;
  border-radius: 50%;  position:absolute !Important; z-index:99999;align-items: center; text-align: center; vertical-align: middle;
}

/* Helper tooltip */
.cmg-link-tooltip {
  all: revert;
  font-family: Arial, Helvetica, sans-serif !important;
  left: 0px; top: 0px;z-index: 99999; font-size: 13.5px;opacity: 0.0; align-items: center;display:inline-block !important; 
  position: fixed !important;border-radius: 9px;color: white; text-align: center; padding: 6px; pointer-events: none;
}

.cmg-helper-tooltip-label {
  vertical-align: middle;
}

/* Hint tooltip */
/* .cmg-circle-hint-tooltip {
  border-radius: '6px';
  padding: '4px 8px';
  opacity: 0.0;
  z-index: 9999999;
  position: 'fixed';
} */

/* */

.crx_mouse_visited {
  outline: 2px solid var(--cmg-link-color) !important;
  /* border: 2px solid var(--cmg-link-color) !important; */
}

.crx_mouse_visited_img {
  /* outline: 2px solid var(--cmg-img-color) !important; */
  outline: 2px solid var(--cmg-img-color) !important;
}

.crx_mouse_visited_input {
  outline: 2px solid var(--cmg-input-color) !important;
  /* border: none; */
}

.crx_mouse_visited_player {
  outline: 2px solid var(--cmg-player-color) !important;
}


/* Link preview part */
#cmg-link-preview {
  background-color: transparent; position: fixed; z-index: 999999 !important; top: 0px; left: 0px; transform-origin: 50% 50%;
  transition: opacity var(--cmg-link-prevew-anim-duration) ease-out, transform var(--cmg-link-prevew-anim-duration) ease-out, background-color var(--cmg-link-prevew-anim-duration) ease-out;
}

.cmg-link-preview-button {
  all:revert;
  color: white;
  /* opacity: 0.7; */
  background-color: transparent;
  transition:  background-color 100ms ease-out;
  padding: 15px;
  border-radius: 50%;text-align: center;cursor: pointer; 
}

.cmg-link-preview-button:hover {
  /* color: rgba(256,256,256,1.0) !important; */
  opacity: 1.0;
  background-color: rgba(256,256,256,0.35) !important;
}

.cmg-link-preview-buttons-wrapper {
  all:revert; position: fixed; z-index:100003; transition: opacity var(--cmg-link-prevew-anim-duration) ease-in-out;left: 0px; top:0px;
}

.cmg-link-preview-bg-dimmer {
  cursor: pointer;z-index: 99999; opacity: 0.0;  position:fixed; background: black !important; top: 0px; left: 0px;
  transition: opacity var(--cmg-link-prevew-anim-duration) ease-in-out;
}

.cmg-link-preview-dragged {
  transition: unset !important;
  pointer-events: none !important;
}

.cmg-link-preview-title {
  all:revert;z-index: 100000;color: white; text-align: center; 
  transition: opacity var(--cmg-link-prevew-anim-duration) ease-in-out; position: fixed; 
  opacity: 0.0; font-size: 20px; line-height: 1.25;font-family: Arial, sans-serif !important;
  left: 0px; top: 0px;
}