.cmg-circle-canvas{
  all: revert;
  visibility: visible;
  position: fixed;
  z-index: 9999999 !important;
  background-color: transparent;
  color: transparent;
}

/* Adds background blur for circle */
.cmg-blur-circle {
  pointer-events: none !important;
  z-index: 9999998 !important; 
  position: fixed;
  border-radius: 50%;
}

.cmg-rocker-icon{
  all: revert;
  cursor: pointer;
  border: none !important;
  box-shadow: none !important;
  z-index: 10000 !important;
  padding:  0px !important;
  vertical-align: top !important;
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 0px !important;
  text-transform: none !important;
  outline: none !important;
  text-align: center !important;
  /* font-size: 12.5px !important; */
  line-height: 1.0 !important;
  left: 0px; right: 0px;
  border-radius: 50%;  position:absolute !Important; z-index:99999;align-items: center; text-align: center; vertical-align: middle;
}

/* Helper tooltip */
.cmg-link-tooltip {
  all: revert;
  font-family: Arial, Helvetica, sans-serif !important;
  left: 0px; top: 0px;z-index: 99999; font-size: 13.5px; align-items: center;display:inline-block !important; 
  position: fixed !important;border-radius: 9px;color: white; text-align: center; padding: 6px; pointer-events: none;
}

.cmg-helper-tooltip-label {
  vertical-align: middle;
}

.cmg_hover_mouse_visited {
  outline: 2px solid var(--cmg-link-color) !important;
}

.cmg_hover_mouse_visited_img {
  outline: 2px solid var(--cmg-img-color) !important;
}

.cmg_hover_mouse_visited_input {
  outline: 2px solid var(--cmg-input-color) !important;
}

.cmg_hover_mouse_visited_player {
  outline: 2px solid var(--cmg-player-color) !important;
}

/* Ghost pointer */
#cmg-corner-mouse-pointer {
  z-index: 99999999;height: var(--cmg-ghost-mouse-pointer-size); width: var(--cmg-ghost-mouse-pointer-size); border-radius: 50%; position: fixed; top: 0px; left: 0px; background: white; 
}

#cmg-page-dimmer {
  overflow: hidden; z-index: 9999; 
  width: 100%; height: 100%;  
  opacity: 0.0; 
  transition: opacity var(--cmg-anim-duration) ease-out !important; 
  position:fixed;
  background: black !important; top: 0px; left: 0px;
  pointer-events: none !important;
}

/* Link preview part */
#cmg-link-preview {
  background-color: transparent; position: fixed; z-index: 999999 !important; top: 0px; left: 0px; transform-origin: 50% 50%;
  transition: opacity var(--cmg-link-prevew-anim-duration) ease-out, transform var(--cmg-link-prevew-anim-duration) ease-out, background-color var(--cmg-link-prevew-anim-duration) ease-out;
}

.cmg-link-preview-button {
  all:revert;
  color: white;
  /* opacity: 0.7; */
  background-color: transparent;
  transition:  background-color 100ms ease-out;
  padding: 15px;
  border-radius: 50%;text-align: center;cursor: pointer; 
}

.cmg-link-preview-button:hover {
  /* color: rgba(256,256,256,1.0) !important; */
  opacity: 1.0;
  background-color: rgba(256,256,256,0.35) !important;
}

.cmg-link-preview-buttons-wrapper {
  all:revert; position: fixed; z-index:100003; transition: opacity var(--cmg-link-prevew-anim-duration) ease-in-out;left: 0px; top:0px;
}

.cmg-link-preview-bg-dimmer {
  cursor: pointer;z-index: 99998; opacity: 0.0;  position:fixed; background: black !important; top: 0px; left: 0px;
  transition: opacity var(--cmg-link-prevew-anim-duration) ease-in-out;
}

.cmg-link-preview-dragged {
  transition: unset !important;
  pointer-events: none !important;
}

.cmg-link-preview-title {
  all:revert;z-index: 100000;color: white; text-align: center; 
  transition: opacity var(--cmg-link-prevew-anim-duration) ease-in-out; position: fixed; 
  opacity: 0.0; font-size: 20px; line-height: 1.25;font-family: Arial, sans-serif !important;
  left: 0px; top: 0px;
}

/* html {
  scroll-behavior: smooth !important;
} */