.cmg-circle-canvas{
  all: revert;
  visibility: visible;
  position: fixed;
  z-index: 9999999 !important;
  background-color: transparent;
  color: transparent;
}


/* Adds background blur for circle */
/* .cmg-blur-circle {
  pointer-events: none !important;
  z-index: 9999998 !important; 
  position: fixed;
  border-radius: 50%;
  backdrop-filter: var(--cmg-blur-filter) !important;
  -webkit-backdrop-filter: var(--cmg-blur-filter) !important;
} */

.cmg-rocker-icon{
  all: revert;
  cursor: pointer;
  border: none !important;
  box-shadow: none !important;
  z-index: 10000 !important;
  padding:  0px !important;
  vertical-align: top !important;
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 0px !important;
  text-transform: none !important;
  outline: none !important;
  text-align: center !important;
  line-height: 1.0 !important;
  left: 0px; right: 0px;
  border-radius: 50%;  position:absolute !Important; z-index:99999;align-items: center; text-align: center; vertical-align: middle;
}

/* Helper tooltip */
.cmg-link-tooltip {
  all: revert;
  font-family: Arial, Helvetica, sans-serif !important;
  left: 0px; top: 0px;z-index: 99999; font-size: 13.5px; align-items: center;display:inline-block !important; 
  position: fixed !important;border-radius: 9px;color: white; text-align: center; padding: 6px; pointer-events: none;
}

.cmg-helper-tooltip-label {
  vertical-align: middle;
}

.cmg_hover_mouse_visited {
  outline: 2px solid var(--cmg-link-color) !important;
}

.cmg_hover_mouse_visited_img {
  outline: 2px solid var(--cmg-img-color) !important;
}

.cmg_hover_mouse_visited_input {
  outline: 2px solid var(--cmg-input-color) !important;
}

.cmg_hover_mouse_visited_player {
  outline: 2px solid var(--cmg-player-color) !important;
}

/* Ghost pointer */
#cmg-corner-mouse-pointer {
  z-index: 99999999;height: var(--cmg-ghost-mouse-pointer-size); width: var(--cmg-ghost-mouse-pointer-size); border-radius: 50%; position: fixed; top: 0px; left: 0px; background: white; 
}

#cmg-page-dimmer {
  overflow: hidden; z-index: 9999; 
  width: 100%; height: 100%;  
  opacity: 0.0; 
  position:fixed;
  background: black !important; top: 0px; left: 0px;
  pointer-events: none !important;
}

/* Link preview part */
#cmg-link-preview {
  background-color: transparent; position: fixed; z-index: 999999 !important; top: 0px; left: 0px; transform-origin: 50% 50%;
}

.cmg-link-preview-button {
  all:revert;
  color: white;
  background-color: transparent;
  transition:  background-color 100ms ease-out;
  padding: 15px;
  border-radius: 50%;text-align: center;cursor: pointer; 
  display: block !important; visibility: visible !important;
}

.cmg-rotation-wrapper{
  all:revert;
}

.cmg-link-preview-button:hover {
  opacity: 1.0;
  background-color: rgba(256,256,256,0.35) !important;
}

.cmg-link-preview-buttons-wrapper {
  all:revert; position: fixed; z-index:100003; transition: opacity var(--cmg-link-prevew-anim-duration) ease-in-out;left: 0px; top:0px;
}

.cmg-link-preview-bg-dimmer {
  cursor: pointer;z-index: 99998; opacity: 0.0;  position:fixed; background: black !important; top: 0px; left: 0px;
  transition: opacity var(--cmg-link-prevew-anim-duration) ease-in-out;
}

.cmg-link-preview-dragged {
  transition: unset !important;
  pointer-events: none !important;
}

.cmg-link-preview-title {
  all:revert;z-index: 100000;color: white; text-align: center; 
  transition: opacity var(--cmg-link-prevew-anim-duration) ease-in-out; position: fixed; 
  opacity: 0.0; font-size: 20px; line-height: 1.25;font-family: Arial, sans-serif !important;
  left: 0px; top: 0px;
}

/* Ghost images for website favicons */
[id^='cmg-ghost-favicon'] {
  position: fixed; 
  top: 0px; left: 0px; 
  z-index: 888;
  pointer-events: none !important;
  opacity: 0;
}

.cmg-video-controls {
  background-color: rgba(0,0,0,0.2); border-radius: 6px;padding: 3px 15px; align-items: center; opacity: 0.65; transition: opacity 100ms ease;
}

.cmg-video-controls:hover {opacity: 1.0;}

/* Tab switcher */
.cmg-tab-switcher {
  background-color: rgba(256,256,256,0.9);
  position: fixed;
  z-index: 999999;
  opacity: 0;
  padding: 6px;
  font-family: sans-serif;
  align-items: end;
}

.center-aligned-switcher {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vertical-switcher {
  overflow: auto;
  max-height: 50%;
  min-width: 40%;
}

.horizontal-switcher {
  overflow: auto;
  display: flex;
  max-width: 50%;
}

.cmg-tab-switcher-entry {
  padding: 6px; cursor: pointer; position: relative;
}

.cmg-tab-switcher-entry span {
  line-height: 1.25;
}

.cmg-tab-switcher-entry:hover, .highlighted-tab {
  /* background: lightgray; */
  background: rgba(0,0,0,0.25);
}

/* Tab switcher close button */
.cmg-tab-switcher-close-button {
  position: absolute; top: 0px; right: 0px;transition:opacity 100ms ease; opacity: 0; pointer-events: none;  padding: 2px 4px; 
  color: black;  background-color: rgba(256,256,256,0.5);
  font-size: 14px;
}

.cmg-tab-switcher-close-button:hover {
  background-color: red;
  color: white;
}


.horizontal-tab-switcher-label {
  /* max-height: 50px; */
  height: 50px;
  width: 120px;
  display: block;
  overflow: hidden;
  font-size: 13px !important;
  text-overflow: ellipsis;
}

.vertical-tab-switcher-label{
  font-size: 14px !important;
}

.cmg-tab-switcher-filter {
  position: fixed;
  z-index: 99999999;
  background: transparent !important;
  color: white;
  border: unset; outline: unset;
  height: 50px; font-size: 24px;
}

.cmg-tab-switcher-filter::placeholder {
  color: rgba(256,256,256,0.8);
}


/* Add shadow to fullscreen overlays (image view, link preview, tab switcher, etc) */
.cmg-overlay-shadow {
  box-shadow: var(--cmg-fullscreen-overlays-shadow) !important;
}



/* html {
  scroll-behavior: smooth !important;
} */


.grid-view-switcher {
  display: grid;
  /* grid-template-columns: repeat(10, 1fr); */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}