html, body {
  min-width: 160px;
  max-width: 180px;
  /* align-items: center; */
}

@-moz-document url-prefix() {
  html, body {
    width: 200px; 
    max-width: 200px; 
  }

  #excludedDomains {
    max-width: 96%;
  }
}

#popup-header img {
  margin: 0 auto; display: block
}

h3 {
  color: grey;
  text-align: center;
  margin-top: 3px;
}

input {
  vertical-align: middle; max-width: 100%;
}

.enabled-checkbox, .checkboxLabel {
  padding: 0px 0px 6px 0px;
  cursor: pointer;
  /* text-align: center; */
}

.enabled-checkbox:hover {
  background-color: rgb(0,0,0,0.1);
  transition: all 200ms ease-in-out;
  border-radius: 3px;
}

#enabledCheckbox {
  cursor: pointer;
}

button {
  margin: 4px auto;
  padding: 4px;
  text-align: center;
  font-size: 1.0em;
  cursor: pointer;
  width: 100%;
}

button img {
  /* position: relative; left: 0px; top: 3px; */
  float: right;
  padding: 3px 3px 0px;
} 

#extension-version {
  text-align: center;
  width: 100%;
  margin-bottom: 6px;
  margin-top: 3px;
}

