html, body {
  min-width: 125px;
  max-width: 180px;
}

#popup-header img {
  margin: 0 auto; display: block
}

h3 {
  color: grey;
  text-align: center;
  margin-top: 3px;
}

input {
  vertical-align: middle; max-width: 100%;
}

.enabled-checkbox, .checkboxLabel {
  padding: 3px 0px;
  cursor: pointer;
  /* text-align: center; */
}

.enabled-checkbox {
  align-items: center;
}

.enabled-checkbox:hover {
  background-color: rgb(0,0,0,0.1);
  transition: all 200ms ease-in-out;
  border-radius: 3px;
}

#enabledCheckbox {
  cursor: pointer;
}

button {
  margin: 4px auto;
  padding: 4px;
  text-align: justify;
  font-size: 1.0em;
  cursor: pointer;
  width: 100%;
}

button img {
  float: left; padding-right: 5px;
} 

#extension-version {
  text-align: center;
  width: 100%;
  margin-bottom: 6px;
  margin-top: 3px;
}

hr {
  opacity: 0.3;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.enabled {
  opacity: 1.0;
}

.opacityTransition {
  transition: opacity 150ms ease-in-out;
}

@-moz-document url-prefix() {
  html, body {
    width: 200px; 
    max-width: 200px; 
  }

  #excludedDomains {
    max-width: 96%;
  }

  button img {
    padding-top: 4px;
  }
}


/* Safari design fixes */ 
@media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) { 
  button img { display: none; } 
  button { text-align: center; margin: 2px auto;}
  html, body { width: 165px; max-width: 165px; }
  h3 { color: black; opacity: 0.5; font-weight: 500; }
}}